$p1: rgb(5, 194, 252);
$p2: rgb(191, 236, 250);

@mixin fadein($property) {
  -webkit-animation: $property;
  -moz-animation: $property;
  -ms-animation: $property;
  -o-animation: $property;
  animation: $property;
}

%flex-box-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testimonial {
  width: 100vw;
  background: white;
  color: $p1;
  // margin: 20px 0px;
}
.testimonial1 {
  width: 100vw;
  background: $p1;
  color: #000000;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  // margin: 20px 0px;
}
.testimonial2 {
  width: 100vw;
  background: $p1;
  color: white;
  // margin: 20px 0px;
}
.link {
  text-decoration: none;
}

.assign_table {
  max-width: 90vw;
  overflow: scroll;
  div {
  }
}
.confirm-button {
  background: $p1;
  color: white;
  border-radius: 30%;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}
.login_page-button {
  border-radius: 30%;
  background: $p1;
  color: white;
  height: 50px;
  font-weight: bold;
  font-size: 20pt;
  margin: 20px;
  cursor: pointer;
}
.login_input {
  height: 20px;
  width: 150px;
  margin: 10px;
}
.login_page {
  @extend %flex-box-center;
  min-height: 70vh;
  min-width: 100vw;
}
.login_register_contianer {
  @extend %flex-box-center;
  height: 400px;
  width: 700px;
}
.login_container {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $p1;
}
.register_container {
  height: 700px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $p1;
  input {
    margin: 5px;
  }
}
video {
  width: 100vw;
}
.profile_container {
  @extend %flex-box-center;
  max-width: 100vw;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/b5/5a/a5/b55aa5a5a99b18a56ccd1348844721cd.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  background-color: white;
}
.pet_profile_container {
  @extend %flex-box-center;
  width: 500px;
  min-height: 60vh;
  border: 1px solid black;
  flex-direction: column;
  background: $p2;
  padding-top: 20px;
  padding-bottom: 20px;
}
.client_profile_container {
  @extend %flex-box-center;
  width: 500px;
  min-height: 60vh;
  border: 1px solid black;
  padding-top: 10px;
  background: $p2;
  margin-top: 10px;
}

.portal_nav {
  @extend %flex-box-center;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  background: white;
}
.reservation_container {
  @extend %flex-box-center;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/b5/5a/a5/b55aa5a5a99b18a56ccd1348844721cd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: white;
}
.reservation_container2 {
  @extend %flex-box-center;
  flex-direction: column;
}
.history_container {
  @extend %flex-box-center;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/b5/5a/a5/b55aa5a5a99b18a56ccd1348844721cd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: white;
}
.register_page {
  @extend %flex-box-center;
  justify-content: center;
  min-height: 80vh;
}
.align_content {
  @extend %flex-box-center;
  flex-direction: column;
}
.boarding_price_container {
  width: 100vw;
  height: 300px;
  background: $p2;
  @extend %flex-box-center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}
.parallax {
  background-image: url("https://s3.us-east-2.amazonaws.com/dev-dogs/bucketFolder/52598923_1004386023085929_4662875886792474624_n.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sudo_parallax {
  display: none;
}
.services_container {
  min-height: 100vh;
}
table {
  tr:nth-child(odd) {
    background-color: $p1;
  }
  tr:nth-child(even) {
    background-color: white;
  }
  border: 3px solid black;
  width: auto;
}
.text_container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background: white;
  width: 100vw;
  min-height: 200px;
  p {
    font-weight: bold;
    width: 500px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0),
      3px 3px 17px rgba(170, 170, 170, 0.97);
  }
}
td {
  height: 50px;
  text-align: center;
}
.make_reservation_container {
  @extend %flex-box-center;
  min-height: 50vh;
  input {
    margin: 10px;
  }
  select {
    margin: 10px;
  }
}
.main {
  background: $p2;
  min-height: 100vh;
  padding-top: 100px;
}

form {
  @extend %flex-box-center;
  flex-direction: column;
}
li {
  list-style-type: none;
}
.logout_button {
  color: $p1;
  font-weight: bold;
  font-size: 14pt;
  cursor: pointer;
}
.full {
  border: 2px solid black;
  background-color: $p1;
  color: black;
  min-height: 50px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty {
  border: 2px solid black;
  background-color: white;
  min-height: 50px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  width: auto;
}
.navbar {
  background: $p1;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 2;
}
.navbar_links {
  padding-top: 20px;
  @extend %flex-box-center;
  width: 42vw;
  margin-right: 20px;
}

.navbar_link {
  color: white;
  font-weight: bold;
  font-size: 14pt;
}
.portal_navbar_link {
  color: $p1;
  font-weight: bold;
  font-size: 14pt;
}

.logo {
  height: 80px;
  padding-top: 10px;
}
.profile_img {
  max-height: 200px;
  max-width: 300px;
  border-radius: 50%;
}
.admin_container {
  @extend %flex-box-center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  margin-top: 0px;
}
.contact_page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.contact_card {
  height: 200px;
  width: 500px;
  margin: 30px;
  background: white;
  padding: 30px;
  display: flex;
  box-shadow: 5px 10px rgb(68, 68, 68);
  h3 {
    margin: 0px;
    color: $p1;
  }
  h2 {
    color: $p1;
  }
  img {
    height: 200px;
    margin-right: 50px;
  }
}
#contact_card_logo {
  height: 40px;
}
.home_container {
  @extend %flex-box-center;
  flex-direction: column;
  border: 1px solid black;
  top: 100px;
  width: 100vw;
}
.text_container {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
  width: 100vw;
  min-height: 300px;
  p {
    font-weight: bold;
    padding: 20px;
    width: 400px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0),
      3px 3px 17px rgba(170, 170, 170, 0.97);
  }
}
.text_container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
  width: 100vw;
  min-height: 300px;
  p {
    font-weight: bold;
    padding: 20px;
    width: 400px;
  }
}
.frenchie_img {
  margin-top: 30px;
  border-radius: 50%;
  max-height: 200px;
}
.welcome_message {
  @extend %flex-box-center;
  flex-direction: column;
  min-height: 70vh;
}
.menu_container {
  @extend %flex-box-center;
}
.hamburger_menu {
  display: none;
  height: 80px;
}
.menu_links {
  @extend %flex-box-center;
  flex-direction: column;
  padding: 0;
}
@media (max-width: 900px) {
  .welcome_message {
    h1 {
      font-size: 24px;
    }
  }
  .reservation_table {
    max-width: 90vw;
  }
  .logout_button {
    display: none;
  }
  .client_profile_container {
    max-width: 90vw;
    margin-top: 10px;
  }
  .pet_profile_container {
    max-width: 90vw;
  }
  .profile_container {
    padding: 0;
  }
  .frenchie_img {
    max-width: 200px;
    height: auto;
  }
  .text_container {
    flex-direction: column;
    align-items: center;
  }
  .phone_home_image {
    width: 100vw;
  }
  video {
    display: none;
  }
  .navbar_links {
    display: none;
  }
  .hamburger_menu {
    display: inline;
  }
  .home_overlay_logo {
    display: none;
  }
  .menu_open {
    position: absolute;
    right: 0px;
    top: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: $p1;
    height: 200px;
    width: 100vw;
    background: white;
    animation-name: open;
    animation-duration: 1s;
  }
  .menu_link {
    color: $p1;
    font-weight: bold;
    font-size: 14pt;
    border-bottom: 2px solid $p1;
  }
  .text_container2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    min-height: 30vh;
    p {
      font-weight: bold;
      padding: 20px;
      width: 200px;
    }
  }
  .menu_close {
    position: absolute;
    right: 0px;
    top: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: $p1;
    height: 0px;
    width: 100vw;
    background: white;
    animation-name: close;
    animation-duration: 1s;
  }
  .menu_ {
    display: none;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  .parallax {
    display: none;
  }
  .sudo_parallax {
    display: inline;
    width: 100vw;
  }
  .ontact_card_logo {
    padding-top: 10px;
  }
  .login_page {
    max-height: 100vh;
    padding-top: 50px;
  }
  .contact_card {
    margin-top: 20px;
  }
  .login_register_contianer {
    flex-direction: column;
  }
  .login_container {
    border: none;
  }
  .register_container {
    border: none;
  }
  .text_container {
    display: flex;
    width: 100vw;
    min-height: 30vh;
    p {
      font-weight: bold;
      padding: 20px;
      width: 200px;
    }
  }
  .text_container3 {
    display: flex;
    width: 100vw;
    min-height: 30vh;
    p {
      font-weight: bold;
      padding: 20px;
      width: 200px;
    }
  }
  .text_container2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    min-height: 30vh;
    p {
      font-weight: bold;
      padding: 20px;
      width: 200px;
    }
  }
  .contact_card {
    height: auto;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 200px;
      margin-right: 0px;
    }
  }
  .map {
    max-width: 90vw;
  }
}
@keyframes close {
  from {
    height: 200px;
  }
  to {
    height: 0px;
  }
}
@keyframes open {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}
.home_overlay_logo {
  position: absolute;
  z-index: 1;
  top: 270px;
  @include fadein(overlay 6s);
}
@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 901px) {
  .menu_close {
    display: none;
    overflow: hidden;
  }
  .menu_open {
    display: none;
    overflow: hidden;
  }
  .menu_ {
    display: none;
    overflow: hidden;
  }
  .phone_home_image {
    display: none;
  }
}
