form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  color: #0060b6;
  text-decoration: none;
  list-style: none;
}

li:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
}
